* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
  background-color: var(--in-content-box-background);
  color: var(--in-content-text-color);
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  clear: both;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
  text-decoration: underline;
  clear: both;
}

a, a:visited {
  color: highlight;
}

p {
  margin: .5em 0;
}

ol {
  list-style: inside;
  list-style-type: decimal;
  margin: .5em 0 1em 0;
}

ol li {
  text-indent: -1em;
  padding-left: 1em;
}

#info .label {
  white-space: nowrap;
  padding-right: 1em;
}

#info .value {
  font-family: monospace !important;
}

.hidden {
  display: none;
}

.section {
  margin-bottom: 1em;
}

.rules {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.rule {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: .5em 0;
  padding: .5em;
}

.rule-row {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: baseline;
}

.rule-row .label {
  min-width: 8em;
}

label,
.rule .label {
  padding-right: 1em;
  white-space: nowrap;
  display: inline-flex;
}

.rule .value {
  width: 100%;
  padding: .1em 0;
}

.rule .field {
  width: 100%;
  font-family: monospace !important;
  margin: 0;
}

.rule .field-ruleId {
  font-weight: bold;
}

.actions {
  white-space: nowrap;
  text-align: right;
}

.actions button {
  padding: 0 .4em;
  margin-left: .2em;
  min-width: unset;
}

button.cmdDelete:hover {
  background-color: red;
}

input[type="checkbox"] {
  opacity: 1;
  position: relative;
  pointer-events: auto;
  margin: 0 .5em;
}

.error,
.rule-error,
.rule-error > div {
  color: #F00;
}

input.rule-error {
  border: 2px solid #F00;
}
